
<md-button ui-sref='lineItems' ng-click='mySelection(invoiced)'class='md-raised md-accent'>
	View Line Items
</md-button>

<br>
Fiscal Month Revenue Analyses:
<div id="chartTotal"></div>

 Fiscal Month Product Analyses:
 <br>
 <md-button ng-show='products'class="md-primary dropdown" ng-click="myDropdownIsActive=!myDropdownIsActive; showProducts()" ng-class="{active:myDropdownIsActive}">
  {{productObj.name}}
  <ul ng-show='showProduct' class="dropdown-menu md-whiteframe-z1" style="z-index: 10">
    <li ng-repeat = 'product in products'>
      <md-button ng-model='selectedProduct' ng-click='totalPartAmount($index)'>
        {{product.name}}
      </md-button>
    </li>
  </ul>
</md-button>
<div id="chartProduct"></div>
<br>
Fiscal Month Customer Analysis:
<br>
<md-button ng-show='customers'class="md-primary dropdown" ng-click="myDropdownIsActive=!myDropdownIsActive; showCustomers()" ng-class="{active:myDropdownIsActive}">
  {{customerObj.name}}
  <ul ng-show='showCustomer' class="dropdown-menu md-whiteframe-z1" style="z-index: 10">
    <li ng-repeat = 'customer in customers'>
      <md-button ng-model='selectedProduct' ng-click='totalCustomerAmount($index)'>
        {{customer.name}}
      </md-button>
    </li>
  </ul>
</md-button>
<div id="chartCustomer"></div>







<div ng-cloak="" class="tabsdemoDynamicHeight">
  <md-content>
    <md-tabs md-dynamic-height="" md-border-bottom="">
      <md-tab label="Revenue">
        <md-content class="md-padding">
          <h1 class="md-display-2">Fiscal Month Revenue Analyses</h1>
        </md-content>
      </md-tab>
      <md-tab label="Product">
        <md-content class="md-padding">
          <h1 class="md-display-2">Fiscal Month Product Analyses</h1>
        </md-content>
      </md-tab>
      <md-tab label="Customer">
        <md-content class="md-padding">
          <h1 class="md-display-2">Fiscal Month Customer Analysis</h1>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</div>
