
<md-button ui-sref='recItems' ng-click='mySelection(invoiced)'class='md-raised md-accent'>
	Invoiced
</md-button>

<md-button ui-sref='recItems' ng-click='mySelection(shipped)' class='md-raised md-primary'>
	Shipped
</md-button>

<md-button ui-sref='recItems' ng-click='mySelection(shippedNotInvoiced)' class='md-raised md-warn'>
	Shipped not invoiced
</md-button>

<div ng-show='false' ui-grid="{ data: myData }" class="myGrid"></div>
<br>
Fiscal Month Revenue Analyses:
<div id="chartTotal"></div>

 Fiscal Month Product Analyses:
 <br>
 <md-button ng-show='products'class="md-primary dropdown" ng-click="myDropdownIsActive=!myDropdownIsActive; showProducts()" ng-class="{active:myDropdownIsActive}">
  {{productObj.name}}
  <ul ng-show='showProduct' class="dropdown-menu md-whiteframe-z1" style="z-index: 10">
    <li ng-repeat = 'product in products'>
      <md-button ng-model='selectedProduct' ng-click='totalPartAmount($index)'>
        {{product.name}}
      </md-button>
    </li>
  </ul>
</md-button>
<div id="chartProduct"></div>
<br>
Fiscal Month Customer Analysis:
<br>
<md-button ng-show='customers'class="md-primary dropdown" ng-click="myDropdownIsActive=!myDropdownIsActive; showCustomers()" ng-class="{active:myDropdownIsActive}">
  {{customerObj.name}}
  <ul ng-show='showCustomer' class="dropdown-menu md-whiteframe-z1" style="z-index: 10">
    <li ng-repeat = 'customer in customers'>
      <md-button ng-model='selectedProduct' ng-click='totalCustomerAmount($index)'>
        {{customer.name}}
      </md-button>
    </li>
  </ul>
</md-button>
<div id="chartCustomer"></div>

<div ng-show='false' class="tabsdemoDynamicHeight">
  <md-content>
    <md-tabs class='md-accent' md-dynamic-height="" md-border-bottom="">
      <md-tab label="Revenue">
        <md-content class="md-padding">
          <h1 class="md-display-2">
          	Revenue
          </h1>
          testing

          
        </md-content>
      </md-tab>
      <md-tab label="two">
        <md-content class="md-padding">
          <h1 class="md-display-2">Tab Two</h1>
        </md-content>
      </md-tab>
      <md-tab label="three">
        <md-content class="md-padding">
          <h1 class="md-display-2">Tab Three</h1>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</div>



